<h1><%= customer.display_name.possessive %> Addresses </h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>

      <th>Address</th>
      <th>Default</th>
      <th>Active</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td>
          <%= render :partial => '/shared/compact_address', 
                    :locals => {:shopping_address => address} %>
        </td>
        <td><%= address.ship_default %></td>
        <td><%= address.is_active %></td>
        <td><%= link_to 'View', [:admin, :customer, customer, address] %></td>
        <td>
          <% if address.is_active %>
            <%= link_to "edit", edit_admin_customer_user_address_path(customer, address) %>
          <% end %>
        </td>        
          <td>
            <% if address.is_active %>
              <%= link_to "inactivate", [:admin, :customer, customer, address], 
                                      data: { confirm: 'Are you sure?' }, 
                                      :method => :delete %>
            <% end %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @addresses %>

<p>
  <%= link_to "New Address", new_admin_customer_user_address_path(customer), 
    :class => 'btn' %>
</p>
