<h2> New Address (<%= customer.display_name %>) </h2>
<%= form_for @form_address, :url => admin_customer_user_addresses_path(customer, @form_address) do |f| %>
  <%=  render :partial => 'form', :locals => {:f => f} %>
  <div class="actions"><%= f.submit 'Create' , :class => 'btn' %></div>
<% end %>
<p>
	<%= link_to "Back to List", admin_customer_user_addresses_path(customer), 
	:class => 'btn' %>
</p>
