<%= render partial: '/admin/catalog/sub_header'%>

<h2> <%= @product.name %> </h2>

<%= form_for @product, url:  admin_catalog_multi_product_variant_path(@product),
                       html: { class: '' }  do |form| %>
  <div id='variants_container' class='row'>
    <%= render partial: '/admin/catalog/multi/variants/form', 
      locals:{form: form} %>
  </div>
  <div class='clearfix'></div>
  <div class=" offer_submit_button">
    <%= link_to("New Variant", "#", class: "add_variant_child btn btn-primary", 
      "data-association" => :variants) %>
    <%= submit_tag "Update", class:  "btn btn-primary", id: "update_product_button" %>
    <%= link_to 'Back to Product', admin_catalog_product_path(@product), 
      class: 'btn' %>
  </div>
<% end %>

<% content_for :bottom do -%>
  <%= javascript_include_tag 'admin/edit_variants' %>
<% end %>