<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class='column1_header'><%= sortable 'note', 'Note' %></th>
      <th>Commentable Type</th>
      <th>Created By</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
  <% for comment in @comments %>
    <tr>
      <td>
        <%= link_to comment.note[0..100], [:admin, :customer, customer, comment] %>
      </td>
      <td><%= comment.commentable_type %></td>
      <td><%= comment.author.try(:name) %></td>
      <td><%= comment.user.try(:name) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @comments %>
<p>
  <%= link_to "New Comment", new_admin_customer_user_comment_path(customer), 
    :class => 'btn' %>
  <%= link_to "Back to #{customer.name}", admin_user_path(customer), :class => 'btn'  %>
</p>
