<h1> Sale </h1>

<ul>
  <li>
    <label>Product:</label>
    <%= @sale.product_id %>
  </li>
  <li>
    <label>Percent Off:</label>
    <%= @sale.percent_off %>
  </li>
  <li>
    <label>Starts At:</label>
    <%= @sale.starts_at %>
  </li>
  <li>
    <label>Ends At:</label>
    <%= @sale.ends_at %>
  </li>
</ul>
<p>
  <%= link_to "Edit", edit_admin_offer_sale_path(@sale), :class => 'btn btn-primary' %> |
  <%= link_to "Destroy", [:admin, :offer, @sale], :data => { :confirm => 'Are you sure?' }, :method => :delete, :class => 'btn btn-primary' %> |
  <%= link_to "View All", admin_offer_sales_path, :class => 'btn btn-primary' %>
</p>
