<%= render :partial => '/admin/catalog/sub_header'%>
<% content_for :sidemenu do %>
<div class="col-md-2">
  <%= search_form_for @q, url: admin_catalog_product_types_path do |f| %>
  <%= f.label :name_cont %>
  <%= f.text_field :name_cont, class: 'col-md-12'%>
  <%= f.submit(:class => "btn btn-primary") %>       
  <% end %>
  <%= link_to "New Type", new_admin_catalog_product_type_path, class: "btn" %>  
</div>
<% end %>

<div class="col-md-9">
  <div class="admin_product_types">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th><%= sortable "name" %></th>
        </tr>
      </thead>
      <% @product_types.each do |product_type| %>
        <tr>
          <td><%= link_to product_type.name, edit_admin_catalog_product_type_path(product_type) %></td>
        </tr>
      <% end %>
    </table>  
  </div>
</div>