.span2.pull-right.well
	%table
		%tr
			%td.span2 Cart Total
			%td.pull-right= number_to_currency @cart.subtotal_amount
		- if @cart.shipping_amount > 0 
			%tr
				%td Shipping
				%td.pull-right= number_to_currency @cart.shipping_amount			
		- if @cart.tax_amount > 0 
			%tr
				%td Tax
				%td.pull-right= number_to_currency @cart.tax_amount			
		-if @cart.credit_amount > 0
			%tr 
				%td Credit
				%td.pull-right= number_to_currency @cart.credit_amount			

		-if @cart.discount_amount > 0
			%tr 
				%td Discount
				%td.pull-right= number_to_currency @cart.discount_amount			
		%tr
			%td{:colspan=>"2"}
				%hr      
		%tr
			%td 
				%strong Total
			%td.pull-right= number_to_currency @cart.total_amount