- content_for :below_body do
  = javascript_include_tag 'cart.js'
  
%h3 Review your order
= render 'checkout_flow'

#productTabContent.tab-content
  #shipping.tab-pane.fade.in.active= render 'checkout_shipping'
  #billing.tab-pane.fade.in= render 'checkout_billing'    
  #review.tab-pane.fade.in
    = render :partial => 'cart_items_table'
    = render :partial => 'cart_discount_and_gift_card'
    = render :partial => 'cart_summary'		
    = link_to 'Place Order', shopping_cart_checkout_path, method: :post, class: 'span2 btn btn-primary btn-large pull-right'


  