#signup.span5.well.pull-right
  %h3 New to #{site_name} ?
  %p An account is required to checkout
  = form_for @user, url: customer_registrations_path(@user), html: {class: 'span12'}  do |form|
    .signup-fields
      .field
        = form.text_field :first_name, placeholder: 'First name'
      .field
        = form.text_field :last_name, placeholder: 'Last name'
      .field
        = form.email_field :email, placeholder: 'Email*'      
      .field
        = form.password_field :password, placeholder: 'Password*'      
      .field
        = form.password_field :password_confirmation, placeholder: 'Confirm*'      
    = form.submit "Create an account", :class => 'btn btn-primary'        