<%= render 'customer/shared/customer_subheader' %>

<div class='col-md-5 column'>
  <h4> <%= UserDecorator.decorate(current_user).display_name %> Profile </h4>

  <ul id='profile_details' >
    <li>
      <label>Email:</label>
      <%= current_user.email %>      
    </li>
    <li>
      <label>App Theme:</label>
      <%= current_user.app_theme.upcase %>    
    </li>
    <li>
      <label>Nav Bar Inverse Color:</label>
      <%= current_user.nav_bar_inverse %>
    </li>
    <li>
      <%= link_to "Edit", edit_customer_overview_path() %>
    </li>
  </ul>
</div>

<div class='col-md-4 column'>
  <div>
    <h4> Address </h4>
    <% if current_user.ship_address %>
      <%= render :partial => '/shared/compact_address', :locals => { :shopping_address => current_user.ship_address } %>
      <%= link_to "Edit", edit_customer_address_path(current_user.ship_address) %>
    <% else %>
      No Address Saved.<br/>
      <%= link_to "New", new_customer_address_path() %>
    <% end %>
  </div>
  <div>
    <h4> Store Credits </h4>
    <%= number_to_currency current_user.store_credit.amount %>
  </div>
</div>
<div class="clearfix"></div>
