<tr> 
  <td class="muted center_text">
    <a href="product.html">
      <%= image_tag item.variant.featured_image %>
    </a>
  </td>
  <td><%= link_to item.variant.product_name, product_path(item.variant.product) %></td>
  <td><%=  item.variant.brand_name.blank? ? '' : ['-', item.variant.brand_name].join(' ') %></td>
  <td>
    <input type="text" placeholder="#{cart_items_form.number_field :quantity}" class="input-mini">
    <%= item.variant.display_stock_status('', '') %>
  </td>
  <td><%= number_to_currency item.price %></td>
  <td><%= number_to_currency item.total %></td>    
</tr>       