<% content_for :sidemenu do %>
  <div class="col-md-2">
    <%= search_form_for @q, url: admin_fulfillment_orders_path do |f| %>
      <%= f.label :user_first_name_cont %>
      <%= f.text_field :user_first_name_cont, class: 'col-md-12'%>
      <%= f.label :user_last_name_cont %>
      <%= f.text_field :user_last_name_cont, class: 'col-md-12'%>
      <%= f.label :number_cont %>
      <%= f.text_field :number_cont, class: 'col-md-12'%>
      <%= f.label :email_cont %>
      <%= f.text_field :email_cont, class: 'col-md-12' %>
      <%= f.submit(:class => "btn btn-primary") %>       
    <% end %>    
  </div>
<% end %>

<div class="col-md-9">
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th class='column1_header'><%= sortable "number" %></th>
      <th><%= sortable "email" %></th>
      <th><%= "Name" %></th>
      <th>Completed at </th>
      <th><%= 'Shipped' %></th>
      <th></th>
    </tr>
    </thead>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.number, admin_fulfillment_order_path(order) %></td>
        <td><%= order.name %></td>
        <td><%= order.email %></td>      
        <td><%= order.display_completed_at(:us_time) %></td>
        <td><%= order.shipped_at.to_s %></td>
        <td><%= link_to 'Edit', edit_admin_fulfillment_order_path(order), class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </table>
  <%= paginate @orders %>  
</div>