<h1>Wish List</h1>

<% current_user.wish_items do |item| %>
  <%= item %>
<% end %>

<% if current_user.wish_items.empty? %>
  <h5> You currently don't have any items in your wish list.</h5>  
<% else %>
  <div class='span12 last'>
    <div class='span9 line_item_blue'>
      <ul>
      <% current_user.wish_items.each_with_index do |item, i| %>
        <li id='cart-item-<%= i %>' class='individual-cart-item'>
        <% photo_url = item.variant.product.featured_image %>
            <%= image_tag(photo_url) if photo_url %>
            <%= item.variant.product_name %> 
            <%= link_to 'remove', shopping_wish_item_path(item, :variant_id => item.variant_id), :method => :delete %>
        </li>
      <% end %>
      </ul>
    </div>    
  </div>
<% end %>