<% content_for :sidemenu do %>
  <div class="span2">
    <%= search_form_for @q, url: admin_inventory_receivings_path do |f| %>
      <%= f.label :supplier_name_cont %>
      <%= f.text_field :supplier_name_cont, class: 'span12'%>
      <%= f.label :invoice_number_cont %>
      <%= f.text_field :invoice_number_cont, class: 'span12' %>
      <%= f.label :tracking_number_cont %>
      <%= f.text_field(:tracking_number_cont, class: 'span12')%>
      <%= f.submit(:class => "btn btn-primary") %>       
    <% end %>
    <%= link_to "New User", new_admin_customer_user_path, :class => "btn" %>
  </div>
<% end %>

<div class="span9">
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th class='column1_header'><%= sortable "supplier_name" %></th>
      <th><%= sortable "invoice_number" %></th>
      <th><%= sortable "tracking_number" %></th>
      <th><%= label_tag "estimated_arrival" %></th>
      <th><%= "Received" %></th>
    </tr>
    </thead>
    <% @purchase_orders.each do |order| %>
      <tr>
        <td><%= link_to order.supplier_name, edit_admin_inventory_receiving_path(order) %></td>
        <td><%= order.invoice_number %></td>
        <td><%= order.tracking_number %></td>
        <td><%= order.display_estimated_arrival_on %></td>
        <td><%= order.display_received %></td>
      </tr>
    <% end %>
  </table>
  <%= paginate @purchase_orders %>
</div>