<% content_for :sidemenu do %>
<div class="span2">
  <%= search_form_for @q, url: admin_inventory_suppliers_path do |f| %>
  <%= f.label :name_cont %>
  <%= f.text_field :name_cont, class: 'span12'%>
  <%= f.label :email_cont %>
  <%= f.text_field :email_cont, class: 'span12' %>
  <%= f.submit(:class => "btn btn-primary") %>       
  <% end %>
  <%= link_to "New Supplier", new_admin_inventory_supplier_path, :class => "btn" %>
</div>
<% end %>

<div class="span9">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= link_to supplier.name, edit_admin_inventory_supplier_path(supplier) %></td>
        <td><%= supplier.email %></td>
      </tr>
    <% end %>
  </table>
  <%= paginate @suppliers %>
</div>