<h2> Supplier: <%= @supplier.name %></h2>
<fieldset id="admin-product-names" class='col-md-12'>
	<div class='col-md-3'>
	  <%= label :supplier, :name %>
	</div>
	<div class='col-md-6 last'>
	  <%= @supplier.name %>
	</div>
	<div class='clear'></div>
	<div class='col-md-3'>
	  <%= label :supplier, :email %>
	</div>
	<div class='col-md-6 last'>
	  <%= @supplier.email %>
	</div>

	</div>
</fieldset>