<div class='col-md-3 columns'>
    <% if content_for? :account_title %>
      <h3><%= yield :account_title %></h3>
    <% else %>
      <h3>Your Account</h3>
    <% end %>

  <div id='myaccount-header-menu'>
    <ul  class=" side-nav">
      <li <%= selected_customer_tab('address') ? 'class=active' : '' %>>
        <%= link_to 'Addresses', customer_addresses_path() %></li>
      <li <%= selected_customer_tab('credit_cards') ? 'class=active' : '' %>>
        <%= link_to 'Credit Cards', customer_credit_cards_path() %></li>
      <li <%= selected_customer_tab('orders') ? 'class=active' : '' %>>
        <%= link_to 'Orders', customer_orders_path() %>
      </li>
      <li <%= selected_customer_tab('profile') ? 'class=active' : '' %>>
        <%= link_to 'Profile', customer_overview_path() %>
      </li>
      <li <%= selected_customer_tab('referrals') ? 'class=active' : '' %>>
        <%= link_to 'Referrals', customer_referrals_path() %>
      </li>
    </ul>
  </div>
</div>