%footer
  %hr
  .row.well.no_margin_left
    .span3
      %h4 Information
      %ul
        %li= link_to 'About Us', about_path
        %li= link_to 'Delivery Information', about_path
        %li= link_to 'Privacy Policy', about_path
        %li= link_to 'Terms &amp; Conditions', terms_path              
    .span3
      %h4 Customer Service
      %ul
        %li= link_to 'Contact Us', terms_path              
        %li= link_to 'Returns', terms_path              
        %li= link_to 'Returns', terms_path                        
  %p.pull-right
    Developed by : Alex Chen 
    Built with #{link_to 'Bootstrap', 'http://twitter.github.com/bootstrap/', :target=>"_blank"}