<%= render :partial => '/admin/catalog/sub_header'%>

<h2>Edit Product</h2>

<%= link_to 'Add Image', edit_admin_catalog_images_product_path(@product), :class => 'btn' %>
<%= link_to 'Variants', admin_catalog_product_variants_path(@product), :class => 'btn btn-primary' %>
<%= link_to 'Back to Product',     admin_catalog_product_path(@product), :class => 'btn' %>
  <div id="article-sidebar" class="sidebar">
    <%= form_for @product, :url  => admin_catalog_product_path(@product),
                            :html => {:class => ''}  do |form| %>

      <%= render :partial => 'form', :locals => {:form => form } %>

      <div class=" generic_submit_button">
        <%= submit_tag "Update",
                        :class  => "btn btn-primary",
                        :id     => "create_product_button" %>
      </div>
    <% end %>
  </div>