<%= render :partial => '/admin/merchandise/sub_header'%>

<% content_for :sidemenu do %>
  <div class="span2">
    <%= search_form_for @q, url: admin_merchandise_prototypes_path do |f| %>
      <%= f.label :name_cont %>
      <%= f.text_field :name_cont, class: 'span12'%>
      <%= f.submit(:class => "btn btn-primary") %>       
    <% end %>
    <%= link_to "New Prototype", new_admin_merchandise_prototype_path, :class => "btn" %>
  </div>
<% end %>

<div class="span9">
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th><%= sortable "name" %></th>
    </tr>
    </thead>
    <% @prototypes.each do |prototype| %>
      <tr>
        <td>
          <%= link_to prototype.name, edit_admin_merchandise_prototype_path(prototype) %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= paginate @prototypes %>
</div>
