%ul.nav
  %li#user_tab.dropdown
    %a.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", href: "/admin/customer/users"}
      %i.fa.fa-users
      Customer
      %b.caret
    %ul.dropdown-menu
      %li= link_to 'Users', admin_customer_users_path        
      %li= link_to 'Referrals', admin_customer_referrals_path    
  %li#catalog_tab.dropdown
    %a.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", href: "#"}
      %i.fa.fa-shopping-cart
      Catalog
      %b.caret
    %ul.dropdown-menu
      %li= link_to 'Products', admin_catalog_products_path        
      %li= link_to 'Properties', admin_catalog_properties_path        
      %li= link_to 'Product Types', admin_catalog_product_types_path        
      %li= link_to 'Prototypes', admin_catalog_prototypes_path                
  %li#inventory_tab.dropdown
    %a.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", href: "/admin/inventory/overviews"}
      %i.fa.fa-truck
      Inventory
      %b.caret
    %ul.dropdown-menu
      %li= link_to 'Overviews', admin_inventory_overviews_path        
      %li= link_to 'Suppliers', admin_inventory_suppliers_path        
      %li= link_to 'Receive Purchase Order', admin_inventory_receivings_path        
      %li= link_to 'Purchase Orders', admin_inventory_purchase_orders_path                
      %li= link_to 'Adjustments', admin_inventory_adjustments_path                
  %li#offer_tab.dropdown
    %a.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", href: "/admin/offer/coupons"}
      %i.fa.fa-tags
      Offer
      %b.caret
    %ul.dropdown-menu
      %li= link_to 'Coupons', admin_offer_coupons_path        
      %li= link_to 'Deals', admin_offer_deals_path        
      %li= link_to 'Sales', admin_offer_sales_path              
  %li#orders_tab.dropdown
    %a.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", href: "/admin/fulfillment/orders"}
      %i.fa.fa-credit-card
      Order
      %b.caret
    %ul.dropdown-menu
      %li= link_to 'Orders', admin_fulfillment_orders_path        
      %li= link_to 'Shipments', admin_fulfillment_shipments_path        
      %li= link_to 'Invoices', admin_fulfillment_invoices_path                    
  - if can? :manage, :view_admin_config
    %li#config_tab.dropdown
      %a.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", href: "/admin/config/tax_rates"}
        %i.fa.fa-gear
        Config
        %b.caret
      %ul.dropdown-menu
        %li= link_to 'Shipping Zones', admin_config_shipping_zones_path                    
        %li= link_to 'Shipping Methods', admin_config_shipping_methods_path        
        %li= link_to 'Shipping Rates', admin_config_shipping_rates_path