%ul.nav.navbar-nav.navbar-right
  - if session_cart and session_cart.cart_items.size > 0
    %li.dropdown
      = link_to "#", data: { toggle: 'dropdown'}, class: 'dropdown-toggle' do
        =fa_icon "caret-down", text: "Shopping Cart (#{session_cart.cart_items.size})", class: "pull-right"
      %ul.dropdown-menu
        - session_cart.cart_items.each do |item|
          %li= link_to item.variant.product_name, shopping_cart_path
                         
  - if current_user
    %li.dropdown
      = link_to "#", data: { toggle: 'dropdown'}, class: 'dropdown-toggle' do
        =fa_icon "caret-down", text: current_user.first_name, class: "pull-right"
      %ul.dropdown-menu            
        -if current_user.admin?
          %li= link_to 'Admin', admin_dashboard_path
          %li.divider
        %li= link_to 'My Account', customer_overview_path          
        %li= link_to 'My Orders', customer_orders_path
        %li= link_to 'My Stores', customer_orders_path
        %li= link_to 'My Activities', customer_orders_path
        %li.divider
        %li= link_to 'Contact Us', about_home_path
        %li.divider
        %li= link_to 'Log Out', logout_path, :method => 'DELETE'
  - else
    %li= link_to 'Login', login_path 




