- content_for :sidemenu do
  .col-md-2
    = form_tag( admin_dashboard_path, :method => :GET, :id => 'request_report_form') do 
      %label Start Date
      = text_field_tag 'start_date', nil, :placeholder => 'dd/mm/yyyy', :class => 'ui-datepicker col-md-12'
      %br
      = submit_tag 'Daily', :data => { disable_with: 'Please wait...' }, :class => 'btn btn-primary'
      %br
      %br
      = submit_tag 'Weekly', :data => { disable_with: 'Please wait...' }, :class => 'btn btn-primary'
      %br
      %br
      = submit_tag 'Monthly', :data => { disable_with: 'Please wait...' }, :class => 'btn btn-primary'         
  
.col-md-9
  = render :partial => "overview_table"
  = render :partial => "accounting_table"  
          
- content_for :below_body do
  :javascript
    $(document).ready(function() {
      $('.ui-datepicker').datepicker({autoclose: true});
    });