%li.span3
  .thumbnail
    = link_to image_tag(product.featured_image(:medium)), product_path(product), title: product.name
    .caption
      %h5= link_to product.name, product_path(product)
      %p 
        = number_to_currency product.price_range.first
        - if product.price_range?
          to        = number_to_currency product.price_range.last      
      %p
        = link_to 'Add to Cart', 'cart.html', :class => "btn btn-primary"
        = link_to image_tag('favourites_16.png'), '#'