.row
  .span6
    = render 'product_images'  
    .content= raw @product.description
  .span6
    .pull-right= social_share_button_tag @product.name
    %h3= @product.name
    = number_to_currency @product.active_variants.first.price

    - @product.active_variants.each_with_index do |variant, i|
      .tiny.btn= variant.product_name
      = form_for @cart_item, :url  => shopping_cart_items_path(@cart_item), :html => {:id => 'new_cart_item', :class => 'custom' } do |f|
        = f.hidden_field :variant_id
        Quantity:
        = f.select :quantity, [1,2,3,4], {:include_blank => false}, {:class => ' '} 
        - unless @product.active_variants.empty? 
          .btn.small= link_to 'Add to Cart', '#'                    
    
    %section.section
      %p Properties
      - @product.active_variants.each do |var| 
        %ul 
          - var.variant_properties.each do |prop|
            %li= prop.property_name+':'+prop.description

- content_for :below_body do
  = javascript_include_tag 'shopping/cart.js' 
  = javascript_include_tag 'jquery.jcarousel.js'
  = javascript_include_tag 'jquery.pikachoose.full.js'
  = javascript_include_tag 'product_page.js'

  - if @product.images.size > 1
    :javascript
      $(document).ready(function (){
        $("#pikame").PikaChoose({autoPlay:true, carousel:false, carouselVertical:false});
        $('#pikame').data('pikachoose').Pause();
      });
  