    <div class='col-md-3'>
      <%= form.label :identifing_name %>
    </div>
    <div class='col-md-5'>
      <%= form.text_field :identifing_name, :class => 'col-md-4' %>
    </div>
  <p class='col-md-9 clear'>
    <div class='col-md-3'>
      <%= form.label :display_name %>
    </div>
    <div class='col-md-5'>
      <%= form.text_field :display_name, :class => 'col-md-4' %>
    </div>
  </p>

<div class=" offer_submit_button">
  <%= submit_tag "Create", :class => "button", :id => "create_product_type_button" %>
</div>
