<h3>Edit <%= @user.display_name %> </h3>

<%= link_to "Show #{@user.display_name}", admin_customer_user_path(@user), class: 'btn btn-success' %>

<%= form_for @user, :url => admin_customer_user_path(@user)  do |form| %>
  <%= render :partial => '/admin/customer/users/form', :locals => {:form => form} %>
  <%= form.submit "Update", :class => 'btn' %>
<% end %>
