<% content_for :sidemenu do %>
  <div class="span2">
    <%= search_form_for @q, url: admin_customer_users_path do |f| %>
      <%= f.label :first_name_cont %>
      <%= f.text_field :first_name_cont, class: 'span12'%>
      <%= f.label :last_name_cont %>
      <%= f.text_field :last_name_cont, class: 'span12' %>
      <%= f.label :email_cont %>
      <%= f.text_field(:email_cont, class: 'span12')%>
      <%= f.submit(:class => "btn btn-primary") %>       
    <% end %>
    <%= link_to "New User", new_admin_customer_user_path, :class => "btn" %>
  </div>
<% end %>

<div class="span9">
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th><%= sortable "first_name" %></th>
      <th><%= sortable "last_name" %></th>
      <th><%= sortable "email" %></th>
      <th>Status</th>
    </tr>
    </thead>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.first_name, admin_customer_user_path(user) %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.state %></td>
      </tr>
    <% end %>
  </table>

  <%= paginate @users %>
</div>