- content_for :below_body do
  = javascript_include_tag 'cart.js' 
  = javascript_include_tag 'product_page.js'  
  
.row
  .col-md-6= render 'product_images'      
  .col-md-6
    = social_share_button_tag @product.name
    %h3= @product.name    
    %h3= number_to_currency @product.active_variants.first.price    
    = render 'add_variant_to_cart'
    = render 'product_details'
.row  
  .col-md-12= render 'recommended_products'