!!!
%html{:lang => "en"}
%head>
  %title= content_for?(:title) ? "#{site_name}: #{yield(:title)}" : site_name
  %link{:href => "/assets/favicon.ico", :rel => "shortcut icon"}
  = stylesheet_link_tag "application-admin", :media => "all"
  = csrf_meta_tag 
  = yield :head
%body
  = render 'layouts/header/admin_header'
  .container-fluid
    .row-fluid
      = render 'layouts/header/alert_notice'
      .breadcrumb= render_breadcrumbs
      - if content_for?(:sidemenu)
        = yield :sidemenu         
      = yield     
  = javascript_include_tag 'application-admin'  
  = yield :bottom
  = yield(:below_body)
  