<!DOCTYPE html>
<html>
<head>
  <title>
    <%= content_for?(:title) ? "#{site_name}: #{yield(:title)}" : site_name %>
  </title>
  <link rel="shortcut icon" href="/assets/favicon.ico" />
  <%= stylesheet_link_tag "tokokita-application", :media => "all" %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
  <%= render 'shared/metadata' %>
</head>
<body >
  <%= render 'shared/header' %>
  <div class="container">  
    <div class='row'>
      <%= render 'shared/flash_message' if notice || alert %>
      <%= render_breadcrumbs %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </div>

  <%= render 'shared/google_analytics' unless @disable_ga %>
  <%= javascript_include_tag 'tokokita-application' %>
  <%= yield :bottom %>

  <script>
    jQuery(window).ready(
      function() {
        jQuery('.flash_notice').delay(6000).slideUp( 'slow');
        jQuery('.flash_error').delay(6000).slideUp( 'slow');
      }
      );
  </script>

</body>
<%= yield :below_body %>
</html>
